*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
body{
    background-color: #5e548e !important;
}
.input {
    outline: none;
    padding: 0.4rem 1rem;
    opacity: 0.8;
    border-radius: 0.3rem;
    border: 1px solid #023047;
}
.add {
    width: 3rem;
    border-radius: 0.2rem;
    background-color: #023047;
    font-size: 2rem;
    border: none;
}
.options {
    button {
        border: none;
        background-color: #023047;
        padding: 0.5rem 1.5rem;
        border-radius: 0.5rem;
    }
    .all-show {
        background-color: #fca311;
    }
    .count {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        color: black;
        background-color: #bce1f2;
    }
}
.tasks {
    background-color: #bce1f2;
    border: 1px solid #023047;
    border-radius: 0.4rem;
    .current-time {
        font-size: 1.2rem;
        opacity: 0.6;
    }
    .task-description {
        font-size: 1.5rem;
        font-weight: 650;
    }
    .delete-btn {
        height: 2.2rem;
        width: 2rem;
        cursor: pointer;
    }
    button {
        padding: 0.3rem 1rem;
        background-color: #023047;
        border: none;
        border-radius: 0.3rem;
    }
}
